BOT_ENDPOINT_LOCALHOST=
BOT_ENDPOINT_PORT=
BOT_ENDPOINT_POD_NAME=
BOT_ENDPOINT_SERVICE_NAME=
BOT_ENDPOINT_NAMESPACE=

BOT_SHARD_MANAGER_TOTAL_SHARDS=
BOT_SHARD_MANAGER_TOTAL_PODS=
BOT_SHARD_MANAGER_LOGIN_FACTOR=

CENTRAL_API_AUTH=
CENTRAL_API_SESSION_COOKIE_NAME=
CENTRAL_API_SESSION_COOKIE_ALLOW_ORIGIN=
CENTRAL_API_SESSION_COOKIE_DOMAIN=
CENTRAL_API_SESSION_COOKIE_SECURE=
CENTRAL_API_SESSION_COOKIE_HTTP_ONLY=
CENTRAL_API_SESSION_COOKIE_MAX_AGE_IN_SECONDS=
CENTRAL_API_SESSION_COOKIE_SAME_SITE=
CENTRAL_API_CORS_ALLOWED_HEADERS=
CENTRAL_API_CORS_ALLOWED_METHODS=

DISCORD_APPLICATION_ID=
DISCORD_APPLICATION_TOKEN=
DISCORD_APPLICATION_SECRET=
DISCORD_APPLICATION_REDIRECT_URI=

JWT_KEY=