DISCORD_APPLICATION_BOT_ID=
DISCORD_APPLICATION_TOKEN=
DISCORD_APPLICATION_ACTIVITY_TYPE=
DISCORD_APPLICATION_ACTIVITY_TEXT=
DISCORD_APPLICATION_COMMAND_GUILDS=
DISCORD_APPLICATION_WHITELISTED_GUILDS=
DISCORD_APPLICATION_ENTITLEMENTS_BOT_ID=
DISCORD_APPLICATION_ENTITLEMENTS_BOT_TOKEN=
DISCORD_APPLICATION_GUILD_ID_FOR_PREMIUM_ROLE=
DISCORD_APPLICATION_PREMIUM_SKU_ID=
DISCORD_APPLICATION_PREMIUM_ROLE_ID=

SHARD_MANAGER_CONFIG_TOTAL_SHARDS=
SHARD_MANAGER_CONFIG_TOTAL_PODS=
SHARD_MANAGER_CONFIG_LOGIN_FACTOR=