APPLICATION_FEATURES_GENERATOR_COOLDOWN=

DISCORD_APPLICATION_BOT_ID=
DISCORD_APPLICATION_TOKEN=
DISCORD_ACTIVITY_TYPE=
DISCORD_ACTIVITY_TEXT=
DISCORD_COMMAND_GUILDS=
DISCORD_WHITELISTED_GUILDS=

POD_HOSTNAME=
POD_ORDINAL=

SHARD_MANAGER_TOTAL_SHARDS=
SHARD_MANAGER_TOTAL_PODS=
SHARD_MANAGER_LOGIN_FACTOR=